.popup-panel{
    margin: auto;

    width: min(100%, 400px);

    padding: var(--space-medium);

    border-radius: var(--radius-small);
}

.popup-container{
    width: 100%;
    
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.popup-container p{
    margin-bottom: var(--space-medium);
}

dialog::backdrop{
    backdrop-filter: blur(5px);
}

.popup-title{
    width: 100%;

    text-align: center;

    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-semi);
    margin-bottom: var(--space-medium);
}

.popup-panel[data-status='success'] .popup-title{
    color: var(--color-success);
}
.popup-panel[data-status='danger'] .popup-title{
    color: var(--color-danger);
}